<div class="text-center home-page">
  <div class="row pt-4 header m-0">
    <div class="d-lg-flex d-none d-sm-none header_nav gap-2 col-7">
      <div class="header_logo">
        <a href="/"><img src="/imgs/logo.jpg" alt="" /></a>
      </div>
      <a href="gioithieu">Giới thiệu</a>
      <a href="kinang">Kĩ năng</a>
      <a href="kinhnghiem">Kinh nghiệm</a>
      <a href="hocvan">Trình độ học vấn</a>
    </div>
    <div class="header_right col-lg-5 col-sm-12 d-flex gap-3 justify-content-end px-5 align-items-center">
      <div class="header_search d-flex align-items-center justify-content-center">
        <i class="bi bi-search text-dark"></i>
      </div>
      <div class="header_login d-flex gap-2 bg-dark align-items-center px-3 py-2 dropdown-toggle" data-bs-toggle="dropdown">
        <i class="bi bi-person-circle text-light"></i>
        <span class="text-light">Login</span>
        <i class="bi bi-chevron-down text-light"></i>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-person-fill"></i>Đăng nhập</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-person-add"></i> Đăng kí</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
